:root {
    --main-color:#047aed;
    --secondary-color:#1c3fa8;
    --dark-color:#002240;
    --light-color:#f4f4f4;
}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    color: #333;
    line-height: 1.3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
h1,
h2{
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}
img{
    width: 100%;
}
p{
    margin: 10px 0;
}

/* navbar */
.navbar .flex{
    justify-content: space-between;
}
.navbar{
    background-color: var(--main-color);
    color: white;
    height: 70px;
}
.navbar ul{
    display: flex;
    
}
.navbar a{
    color: white;
    padding:10px;
    margin: 0 5px;
    position: relative;

}
button{
    outline: none;
    border: 0;
}
.navbar a::before{
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0px;
    width: 100%;
    height: 2px;
    background-color:white;
    transform: scaleX(0);
    transition: all .4s;

}
.navbar a:hover::before {
   transform: scaleX(1);
}
  

.showcase{
background-color: var(--main-color);
height: 400px;
color: white;
position: relative;

}

.showcase h1{
    font-size: 40px;
}
.showcase p{
    margin: 20px 0;
}
.showcase .grid {
    grid-template-columns: 55% 45%;
    gap: 30px;
    overflow: visible;
}
.showcase-form{
    position: relative;
    top: 60px;
    height:350px ;
    width: 400px;
    padding: 40px;
    z-index: 100;
    justify-self: flex-end
}
.showcase-form .form-control{
    margin: 30px 0;
    
}
.showcase-form input[type="text"],
.showcase-form input[type="email"]
{
    border: 0;
border-bottom: 1px solid #b4becb;
width: 100%;
padding: 3px;
font-size: 16px;
}

.showcase::before,.showcase::after{
    content: "";
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background-color: white;
    transform: skewY(-3deg);
}
/* stats */

.stats{
    padding-top: 100px;
}

.grid-3{
    grid-template-columns:repeat(3, 1fr);
}

.btn-outline{
    background-color:transparent;
    border: 1px solid white;
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background: var(--main-color);
    color: white;
    border-radius: 5px;
    outline: 0;
    transition:transform .2s;
}
.btn:hover{
    transform: scale(0.9);
    border: 0;
    outline: 0;
}
.stats-heading{
    max-width: 500px;
    margin: auto;
}
.stats .grid h3{
  font-size: 35px;  
}
.stats .grid p{
    font-size: 20px;
    font-weight: bold;
}
.cli .grid{
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: "bng bng card-1"
    "bng bng card-2";
}
.bng{
    grid-area: bng;
}
.card-1{
    grid-area: card-1;
}
.card-2{
    grid-area: card-2;
}


/* clouds */
.cloud{
    background-color: var(--main-color);
    color: white;
    text-transform: capitalize;
}
.cloud .grid{
    grid-template-columns:4fr 3fr ;
}
.btn-dark{
    background-color: var(--dark-color);
    color: white;
}
/* langukss */ 
.languages .flex{
    flex-wrap: wrap;
}
.languages .card{
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform .3s ease-in-out;
}
.languages .card:hover{
    transform: translateY(-15px);
}
/* footer */
footer{
    background-color: var(--dark-color);
    color: white;
    height: 300px;
}
footer a{
    color: white;
}
footer .social a{
    margin: 0 10px;
}

@media (max-width: 768px) {
    .grid,
    .showcase .grid,
    .stats .grid,
    .cli .grid,
    .cloud .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .showcase{
        height: auto;
    }
    .showcase-text{
        text-align: center;
        margin-top: 40px;
    }
    .showcase-form{
        justify-self: center;
        margin: auto;
    }
}

@media (max-width: 500px) {
    .navbar{
        height: 110px;
    }
    .navbar .flex{
        flex-direction: column;
    }
}

/* featurse */
.features-head{
    background-color: var(--main-color);
}
.features-head img{
    width: 200px;
    justify-self: flex-end;
}
.features-sub-head img{
    width: 300px;
    justify-self: flex-end;
}
.features-sub-head{
    background-color: var(--light-color);
}
.features-sub-head h1{
    padding-left: 20px;
    text-transform: capitalize;
}
.features-sub-head p{
    padding-left: 20px;
}

.features-main .card > i{
    margin-right: 20px;
}

.features-main .grid{
    padding: 30px;
}

.features-main .grid > *:first-child{
    grid-column: 1/ span 3;
}
.features-main .grid > *:nth-child(2){
    grid-column: 1/ span 2;
}

.doc-head{
    background-color: var(--main-color);
}
.doc-head h1{
    color: white;
    font-size: 45px;
    text-transform: uppercase;
}
.doc-head img{
    width: 200px;
    justify-self: flex-end;
}