.container{
    max-width: 1100px;
    margin: 0 auto ;
    overflow: auto;
    padding: 0 40px;
}
.flex{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
} 
.grid{
    display: grid;
     grid-template-columns:repeat(2, 1fr);
     gap: 20px;
     justify-content: center;
     align-items: center;
     height:100%;
}
.card{
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    box-shadow:0 3px 10px rgba(0,0,0,0.2);
    color: black;
}
.text-center{
    text-align: center;
}
.my-1{
margin: 1rem 0;
}
.my-2{
margin: 1.5rem 0;
}
.my-3{
    margin: 2rem 0;
}
.my-4{
    margin: 4rem 0;
}
/* padding */
.py-1{
    padding: 1rem 0;
    }
    .py-2{
        padding: 1rem 0;
    }
    .py-3{
        padding: 1rem 0;
    }
    .py-4{
        padding: 1rem 0;
    }
    .lead{
        font-size: 20px;
    }
    .sm{
        font-size: 1rem;
    }
    .md{
        font-size: 2rem;
    }
     